@import "../variables";

.categories {
  flex: 1;
  max-width: 80%;

  @media (max-width: 768px) {
    max-width: 100%;
    margin-bottom: 30px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-top: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
